/* FONTES */
p {
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    color: rgb(204, 204, 204);
    font-style: normal;
    font-size: 13px; 
    font-weight: 200;
}

p2 {
    font-family: "Inter", serif;
    color: rgb(204, 204, 204);
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
}

h1 {
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    color: rgb(247, 114, 77);
    font-style: normal;
    font-weight: bold;
    font-size: 20px; 
    margin: 0px 0px 10px;
}